.banner {
    color: white;
    object-fit: contain;
    height: var(--banner-height);
    background-position: top center;
}

.banner_contents {
    margin-left: 30px;
    padding-top: 140px;
    min-height: 190px;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    width: 80%;
}

.banner_title {
    font-size: 3rem;
    font-weight: 800;
    white-space: initial;
}

.banner_descrip {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: calc(100% - 30px);
    min-height: 80px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
    display: -webkit-box;
    overflow: hidden;
}

.banner_button {
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 00.5rem;
    background-color: rgba(51, 51, 51, 0.5);

}

.banner_button:hover {
    color: black;
    background-color: white;
    transition: all 0.2s;
}

.banner_fade {
    transform: translateY(calc(var(--banner-height) - 7.3rem));
    height: 7.4rem;
    background-image: linear-gradient(180deg,
            transparent,
            rgba(37, 37, 37, 0.6),
            #111);

}

.banner_left_fade {
    position: absolute;
    height: var(--banner-height);
    width: 50%;
    background-image: linear-gradient(270deg,
            transparent,
            rgba(37, 37, 37, 0.6) 10%,
            #111);
}

div.button_group {
    display: flex;
    width: max-content;
}

@media only screen and (max-width: 600px) {
    .banner_contents {
        bottom: 0;
        width: 100%;
        padding-right: 36px;
    }

    .banner_fade {
        height: 15rem;
        transform: translateY(calc(var(--banner-height) - 14.9rem));
    }

    .banner_left_fade {
        display: none;
    }

    .banner_descrip {
        -webkit-line-clamp: 4;
    }

    .banner_title {
        font-size: 2rem;
    }
}